<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block title %}<title>Welcome to Alumni Database</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
  </head>
  {% if user.is_authenticated %}
    <body>
      <div id='navbar'>
        {% block sidebar1 %}
        <ul>
          <div id='navbar-part1'>
            <li><a href="{% url 'home' %}">Alumni Database</a></li>
          </div>
          <div id='navbar-part2'>
            <div id='navbar-part2-1'>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="/">Directory</a></li>
            </div>
          </div>
          <div id='navbar-part3'>
          
            <li>{{ user.first_name }} {{ user.last_name }} </li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

          </div>
        </ul>
        {% endblock %}
      </div>
      <div id="content">{% block content %}{% endblock %}</div>
    </body>
  {% else %}
    <body id='intro_body'>
      <div id='navbar'>
          {% block sidebar2 %}
          <ul>
            <div id='navbar-part1'>
              <li><a href="{% url 'home' %}">Alumni Database</a></li>
            </div>
          </ul>
        {% endblock %}
      </div>
      <div id='intro_format'>
        <div id='intro_static'>
          <h1>Discover your alumni.</h1>
          <img src={% static 'images/login_illustration.png'%} alt="Login Illustration">
        </div>
        <div id="intro_dynamic">{% block intro %}{% endblock %}</div>
      </div>
    </body>
  {% endif %}
</html>