html {
  font-family: "Helvetica Neue";

  height: 100vh;
}

body {
  height: 95vh;
  margin: 0;
}

#intro_body {
  background: linear-gradient(to left, white 70%, #ffdc7d 70%);
}

/* Navigation Bar CSS */
#navbar {
  height: 10%;
  margin: 0 10% 0 10%;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  padding: 1% 2% 1% 0%;
}

#navbar li {
  display: inline-block;
  color: black;
}

#navbar-part1 {
  width: 40%;
}

#navbar-part1 li {
  font-weight: 500;
  font-size: 16px;
}

#navbar-part1 a {
  text-decoration: none;
  color: black;
}

#navbar-part2-1 {
  padding: 0 auto 0 auto;
}

#navbar-part2 li {
  font-weight: 500;
  font-size: 18px;
}

#navbar-part2 a {
  text-decoration: none;
  color: black;
}

/* Intro: Login Page CSS */
/* Static Part */
#content_container {
  display: block;
}

#intro_format {
  display: flex;
  flex-direction: row;
  height: 90%;
}

#intro_static {
  width: 30%;
  text-align: center;
  margin: auto 0 auto 0;
}

#intro_static img {
  width: 85%;
}

#intro_static h1 {
  margin: 0 auto 15% auto;
  width: 60%;
  text-align: left;
  font-size: 40px;
  color: #bd8600;
}

/* Dynamic Part */
#intro_dynamic {
  width: 30%;
  margin: auto;
  font-size: 18px;
  /* font-weight: bold; */
}

#intro_dynamic button {
  height: 46px;
  border-radius: 5%;
  border: none;
  width: 35%;
  color: white;
  font-weight: 700;
  font-size: 16px;
  background-color: #f5b506;
}

#login-title {
  font-size: 25px;
  margin-bottom: 13%;
}

#login_label {
  margin-bottom: 3%;
}

#login_input {
  margin-bottom: 13%;
}

#intro_dynamic form input {
  height: 46px;
  border-radius: 5%;
  border: none;
}

#login_input input {
  width: 70%;
  background-color: #efefef;
  font-size: 14px;
}

#login_button {
  width: 45%;
  color: white;
  font-weight: 700;
  font-size: 16px;
  background-color: #f5b506;
}

#form_validation p {
  color: #ce0031;
  font-size: 15px;
  font-weight: 300;
}

#forgot_pw_text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 2%;
}

#forgot_pw_text a {
  text-decoration: none;
  color: #bd8600;
}

#register_text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 2%;
}

#register_text a {
  text-decoration: none;
  color: #bd8600;
  font-weight: 700;
}

/* Intro: Signup Page CSS */
#signup_form input {
  background-color: #efefef;
  height: 46px;
  border-radius: 5%;
  border: none;
}

#signup_container1 {
  display: flex;
  flex-direction: row;
}

#signup_container1 input {
  width: 90%;
}

#signup_content1 {
  width: 50%;
  margin-bottom: 3%;
}

#signup_container2 {
  display: block;
}

#signup_container2 input {
  width: 95%;
}

#signup_content2 {
  margin-bottom: 3%;
}

#signup_help p {
  color: black;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 3% 0;
}

#signup_error p {
  color: #ce0031;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 3% 0;
}

#help_text {
  color: black;
  font-weight: 400;
}

#error_message {
  color: #ce0031;
  font-weight: 400;
}

#id_username {
  margin-bottom: 0;
}

#signup_form input {
  margin: 3% 0 0 0;
  font-size: 14px;
}

#signup_input select {
  background-color: #efefef;
  border-radius: 5%;
  width: 45%;
  height: 46px;
  margin: 3% 0 0 0;
  font-size: 14px;
  background: url("/static/images/select_arrow.png") no-repeat right;
  background-size: auto 30px;
  background-position-x: 175px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#help_text {
  color: black;
  font-size: 16px;
}

#help_text a {
  color: #bd8600;
  text-decoration: none;
}

/* Intro: Password Reset */
#pw_back_arrow {
  height: 24px;
  width: 24px;
}

#pw_label1 {
  color: black;
  font-size: 20px;
  font-weight: 700;
}

#pw_label2 {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

#pw_instruction {
  color: #6b6b6b;
  font-size: 16px;
  font-weight: 400;
}

#email input {
  width: 100%;
  background-color: #efefef;
}

#email_submit {
  width: 25%;
  background-color: #f5b506;
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin-top: 15%;
}

#success {
  color: #00ce6b;
  font-size: 16px;
  font-weight: 700;
}

#email_success {
  display: flex;
}

#email_check_icon {
  width: 24px;
  height: 24px;
  margin: auto 3% auto 0;
}

#pw_input1 {
  margin-top: 15%;
}

#pw_input1 input {
  width: 100%;
  background-color: #efefef;
  margin-bottom: 5%;
}

#pw_input2 input {
  width: 100%;
  background-color: #efefef;
}

/* Main: Homepage*/
#main {
  margin: 3% auto 0 auto;
  width: 85%;
  background-color: #ffdc7d;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
}

#main_search {
  width: 60%;
  margin-left: 10%;
}

#instruction {
  margin: 5% auto 0 auto;
  width: 65%;
}

#main p {
  padding-top: 5%;
  font-weight: 200px;
  text-align: left;
}

#main_intro_text {
  width: 50%;
  color: #bd8600;
  font-weight: 500;
  font-size: 35px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.05px;
}

#main form {
  padding-bottom: 5%;
}

#main input {
  border: none;
  width: 30%;
  height: 50px;
  margin-top: 2%;
  border-radius: 30px;
  background-color: #ffffff;
}

#main button {
  margin-left: 1%;
  border-radius: 10%;
  border: none;
  background-color: black;
  color: white;
  height: 46px;
  width: 7%;
  font-size: 18px;
}

#main img {
  position: absolute;
  margin: 3% 0 0 40%;
  width: 40%;
}

#instruction-label {
  font-size: 20px;
  font-weight: 500;
}

#content-holder {
  margin: 0 10% 0 10%;
  width: 15%;
  border-radius: 30px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  justify-content: center;
  text-align: center;
}

#content-holder-text {
  padding: 3% 3% 5% 3%;
  text-align: left;
}
