{% extends "base_generic.html" %}

{% load static %}

{% block intro %}
        <p id="pw_label1">Reset Password</p>
        <form action="" method="post">
        {% csrf_token %}
        <div id="pw_input1">
            <label for="id_new_password1" id="pw_label2">New Password</label>
            <input>
        </div> 
        <div id="pw_input2">
            <label for="id_new_password2" id="pw_label2">Confirm Password</label>
            <input>
        </div>
        <div id='email_success'>
            <img id="email_check_icon" src={% static 'images/check_icon.png'%} alt="Check Illustration">
            <p id='success'> Password has been changed.  </p>
        </div>
        <input id = 'email_submit' type="submit" value="Reset" />
        </form>
{% endblock %}