{% extends "base_generic.html" %}

{% block intro %}

  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <p>Forgot Password?</p>
    <p>Enter the email address and password you used when you joined. We’ll send you an instruction for reseting the password. </p>
  <div id = 'email_label'>
    <p> Email Address </p>
  </div>
  <div id='email'>
    <p>{{ form.email }}</p> 
  </div>    
  
  <input id = 'email' type="submit" class="btn btn-default btn-lg" value="Reset password">

  </form>
  
{% endblock %}


